<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="teacher" class="com.kaikeba.beans.Teacher">
           <property name="tname" value="Mr liu"></property>
    </bean>
    
    <bean id="student" class="com.kaikeba.beans.Student">
      <property name="sname" value="mike"></property>
      <property name="age" value="22"></property>
      <property name="teacher" ref="teacher"></property>
    </bean>

</beans>