<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
   
    <!-- 注册工厂 -->
    <bean id="factory1" class="com.kaikeba.util.TeacherFactory"></bean>
    <bean id="factory2" class="com.kaikeba.util.TeacherFactory2"></bean>
   <!-- 
         Spring容器，当前teacher类的实例化操作，由动态工厂
    -->
    <bean id="teacher" 
         class="com.kaikeba.beans.Teacher"
         factory-bean="factory2"
         factory-method="createTeacher">
         
    </bean>
    

</beans>